@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
    outline: none
}

:root {
    --main-yellow-color   : #FDDA07;
    --main-black-color    : #272727;
    --main-gray-color     : #C1C1C1;
    --main-lightgray-color: #FCFCFC;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--main-yellow-color) var(--main-lightgray-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--main-lightgray-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-yellow-color);
    border-radius   : 10px;
    border          : 0px solid var(--main-lightgray-color);
}

/* html.hidden {
    overflow: hidden;
} */

body,
input {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin     : 0;
    color      : var(--main-black-color);
    line-height: 1.5;
}

ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color          : inherit
}

body {
    background-color: #F8F8F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.container {
    padding-right: 15px;
    padding-left : 15px;
    margin-right : auto;
    margin-left  : auto;
    position     : relative;
}

.btn-max {
    background   : var(--main-yellow-color);
    box-shadow   : 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color        : white !important;
    padding      : 15px 20px;
    font-weight  : 900;
    font-size    : 18px;
    display      : inline-flex;
    align-items  : center;
    cursor       : pointer;
}

.btn-max img {
    margin-right: 15px;
}

#appColor {
    position  : fixed;
    top       : calc(50% - 65px);
    left      : -18px;
    cursor    : pointer;
    transition: .5s
}

#appColor:hover {
    left: 0
}

#appColor:after {
    content       : 'Выбрать цвет';
    position      : absolute;
    right         : -70px;
    top           : 51px;
    transform     : rotate(90deg);
    width         : 130px;
    padding-bottom: 3px;
    text-align    : center;
    text-transform: uppercase;
    font-size     : 12px;
    font-weight   : 700;
    letter-spacing: 2px;
}

#appColor div {
    width                     : 20px;
    height                    : 20px;
    cursor                    : pointer;
    border-top-right-radius   : 3px;
    border-bottom-right-radius: 3px;
}

#app {
    opacity   : 0;
    transition: 1s;
}

#app.show {
    opacity: 1
}

#header {
    background-color: white;
    position        : relative;
    box-shadow      : 0px 4px 20px rgba(0, 0, 0, 0.048);
    margin-bottom   : 35px;
}

#header::before {
    content         : '';
    position        : absolute;
    width           : 100%;
    height          : 93px;
    background-color: var(--main-lightgray-color);
    bottom          : 0
}

.header__top {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 20px 0
}

.logo {
    display       : flex;
    flex-direction: column;
}

.logo__text {
    font-weight   : 900;
    text-transform: uppercase;
    font-size     : 19px;
}

.logo__text span {
    color: var(--main-yellow-color);
}

.header__date {
    font-size : 12px;
    color     : var(--main-gray-color);
    margin-top: 2px;
}

.header__grafik {
    font-size: 12px;
    color    : var(--main-gray-color);
}

.header__contacts {
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
}

.header__phone {
    font-weight: 900;
    font-size  : 25px;
    position   : relative
}

.header__phone::after {
    content         : '';
    position        : absolute;
    width           : 5px;
    height          : 5px;
    background-color: #3CCB75;
    left            : -10px;
    top             : 0;
    border-radius   : 100px;
}

.header__callback {
    font-weight: 700;
    color      : var(--main-yellow-color);
    font-size  : 14px;
    cursor     : pointer;
}

.header__nav {
    display: flex;
}

.header__nav li {
    margin-right: 20px;
}

.header__nav a {
    font-size: 14px;
}

.header__nav li:nth-child(1) a {
    color         : var(--main-yellow-color);
    font-weight   : 700;
    position      : relative;
    border-bottom : 2px dotted var(--main-yellow-color);
    padding-bottom: 3px;
}

.header__nav li:nth-child(1) a::after {
    content         : '';
    position        : absolute;
    width           : 5px;
    height          : 5px;
    background-color: var(--main-yellow-color);
    left            : -10px;
    top             : 0;
    border-radius   : 100px;
}

.header__btn-nav {
    display: none;
}

.header__bottom {
    display    : flex;
    align-items: center;
    padding    : 20px 0;
}

.header__btn-catalog {
    margin-right: 30px;
}

.header__nav-catalog {
    display: flex;
}

.header__nav-catalog li {
    margin-right: 25px;
}

.header__nav-catalog a {
    font-weight: 700;
}

.header__nav-mobile {
    display: none;
}

.banner-main {
    background-color: #FFFFFF;
    box-shadow      : 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius   : 10px;
    padding         : 30px 50px;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    position        : relative;
    margin-top      : 35px;
}

.banner-main.bg-arrow {
    background-image   : url(/assets/img/banner__bg.svg);
    background-size    : auto 100%;
    background-repeat  : no-repeat;
    background-position: -200px;
}

.banner-main .banner__block:nth-child(1) {
    z-index: 1;
}

.banner-main .title {
    font-size  : 36px;
    font-weight: 900;
    max-width  : 700px;
    line-height: 1.3;
}

.banner-main .title span {
    color: var(--main-yellow-color)
}

.banner-main .text {
    margin-top: 20px;
    max-width : 560px
}

.banner-main .btn-max {
    margin-top: 50px;
}

.banner__img {
    max-width  : 500px;
    width      : 100%;
    margin-left: 10px;
}

.banner__attr {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    gap                  : 5px 5px;
    grid-template-areas  :
        ". .";
    max-width: 400px
}

.banner__attr-title {}

.banner__attr-value {
    font-weight: 700;
}

.garanty {
    margin-top           : 35px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap                  : 35px 35px;
    grid-template-areas  :
        ". . . .";
}

.garanty__item {
    padding      : 20px;
    background   : white;
    border-radius: 10px;
    box-shadow   : 0px 0px 30px rgb(0 0 0 / 5%);
    position     : relative;
    overflow     : hidden;
    min-height   : 50px;
}

.garanty__num {
    color      : var(--main-yellow-color);
    font-size  : 100px;
    position   : absolute;
    font-weight: 900;
    top        : -30px;
    opacity    : .4;
    transition : .5s;
}

.garanty__item:hover .garanty__num {
    opacity: 1;
}

.garanty__text {
    font-weight: 700;
    position   : relative
}

.banner-main.person {
    padding: 0
}

.banner-main.person .banner__block:nth-child(1) {
    padding: 30px 50px;
}

.banner-main.person .banner__block:nth-child(2) {
    display      : flex;
    padding-top  : 20px;
    padding-right: 20px
}

.banner-main.person .banner__block:nth-child(2) img {
    top               : auto;
    bottom            : 0;
    height            : 100%;
    -o-object-fit     : contain;
    object-fit        : contain;
    -o-object-position: bottom;
    object-position   : bottom;
}

.banner-dostavili {
    background-image   : url(/assets/img/dostavka.jpg);
    background-position: center;
    box-shadow         : 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius      : 10px;
    padding            : 100px 50px;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    flex-direction     : column;
    position           : relative;
    margin-top         : 35px;
    background-size    : cover;
    overflow           : hidden;
}

.banner-dostavili::before {
    content         : '';
    width           : 100%;
    height          : 100%;
    background-color: black;
    position        : absolute;
    left            : 0;
    top             : 0;
    opacity         : .3
}

.banner-dostavili .title {
    color      : white;
    font-size  : 35px;
    font-weight: 900;
    max-width  : 370px;
    text-align : center;
    position   : relative
}

.banner-dostavili .title span {
    color      : var(--main-yellow-color);
    white-space: nowrap;
}

.banner-dostavili .text {
    color     : white;
    max-width : 600px;
    text-align: center;
    margin-top: 20px;
    position  : relative
}

#footer {
    background-color: var(--main-black-color);
    color           : white;
    padding         : 40px 0;
    margin-top      : 35px;
}

.footer__content {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.footer__block {
    margin: 10px;
}

#footer .logo {
    max-width: 270px;
}

.footer__title {
    text-transform: uppercase;
    font-weight   : 700;
    margin-bottom : 15px;
}

.footer__nav-catalog li,
.footer__nav li {
    margin: 5px 0
}

.footer__nav-catalog a,
.footer__nav a {
    font-size: 14px;
    color    : var(--main-gray-color)
}

.footer__grafik {
    font-size: 14px;
    color    : var(--main-gray-color);
    margin   : 5px 0
}

.footer__copyright {
    font-size : 12px;
    margin-top: 20px;
}

.footer__btn-calc {
    margin-top: 20px;
}

.popup {
    position               : fixed;
    z-index                : 9999;
    width                  : calc(100% - 20px);
    padding                : 10px;
    height                 : 100%;
    top                    : 0;
    left                   : 0;
    background             : #ffffff78;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter        : blur(10px);
    display                : none;
    align-items            : center;
    justify-content        : center;
}

.popup.show {
    display: flex;
}

.popup__content {
    width        : 100%;
    max-width    : 500px;
    background   : white;
    box-shadow   : 0px 0px 30px rgb(0 0 0 / 5%);
    padding      : 20px;
    border-radius: 10px;
    position     : relative;
}

.popup__close {
    text-align : right;
    font-size  : 30px;
    color      : var(--main-yellow-color);
    cursor     : pointer;
    position   : absolute;
    top        : -50px;
    right      : 0;
    font-weight: 700;
}

/* Стили для товаров */

.products-category {
    margin-top           : 35px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap                  : 35px 35px;
    grid-template-areas  :
        ". . . .";
}

.products-category__item {
    display      : block;
    padding      : 20px;
    background   : white;
    border-radius: 10px;
    box-shadow   : 0px 0px 30px rgb(0 0 0 / 5%);
    position     : relative;
    overflow     : hidden;
}

.products-category__item:before {
    position  : absolute;
    content   : '';
    width     : 100%;
    height    : 100%;
    top       : 0;
    left      : 0;
    background: radial-gradient(60% 60% at 50% 50%, rgb(255 255 255 / 0%), var(--main-yellow-color) 100%);
    opacity   : 0;
    transition: .5s;

}

.products-category__item:hover::before {
    opacity: 1
}

.products-category__item img {
    width        : 100%;
    height       : 140px;
    -o-object-fit: contain;
    object-fit   : contain;
    position     : relative;
}

.products-category__item h2 {
    text-align : center;
    line-height: 1.3;
    margin-top : 25px;
    position   : relative;
    font-size  : 18px;
    transition : .5s;
}

.products-category__item:hover h2 {
    color: white
}

.products__wrap {
    margin-top: 35px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 5%);
}

.products {}

.products__header {
    display              : grid;
    grid-template-columns: 2fr 1.5fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    gap                  : 15px 15px;
    grid-template-areas  :
        ". . . . . . .";
    background-color       : var(--main-yellow-color);
    border-top-right-radius: 10px;
    border-top-left-radius : 10px;
}

.products__header div {
    padding    : 20px 10px;
    color      : white;
    font-size  : 14px;
    font-weight: 700;
}

.products__items {}

.products__item {
    background-color     : white;
    display              : grid;
    grid-template-columns: 2fr 1.5fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    gap                  : 15px 15px;
    grid-template-areas  :
        ". . . . . . .";
    background-color: white;
    transition      : .5s;
    border-bottom   : 1px solid var(--main-gray-color);
}

.products__item:last-child {
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
    border                    : none;
}

.products__item span {
    font-size: 14px;
    padding  : 20px 10px
}

.products__item span:nth-child(7) {
    font-weight: 900;
}

.products__item:hover {
    box-shadow  : 0px 0px 20px rgb(0 0 0 / 30%);
    position    : relative;
    border-color: transparent;
}

.product-text {
    padding         : 20px;
    background-color: white;
    box-shadow      : 0px 0px 30px rgb(0 0 0 / 5%);
    border-radius   : 10px;
    margin-top      : 35px;
}

.product-preim {
    margin-top           : 35px;
    display              : grid;
    grid-template-columns: 4fr 2fr 2fr;
    gap                  : 35px 35px;
    grid-template-areas  :
        ". . .";
}

.product-preim>div {
    padding         : 20px;
    background-color: white;
    box-shadow      : 0px 0px 30px rgb(0 0 0 / 5%);
    border-radius   : 10px;
}

.product-preim>div:nth-child(3) {
    background-color: var(--main-yellow-color);
}

.product-preim>div:nth-child(3) .product-preim__price,
.product-preim>div:nth-child(3) .product-preim__text,
.product-preim>div:nth-child(3) .product-preim__title {
    color: white
}

.product-preim__title {
    font-size    : 20px;
    font-weight  : 700;
    margin-bottom: 10px;
}

.product-preim__price {
    font-weight: 900;
    font-size  : 30px;
    margin-top : 15px;
}

.product-preim__callback {
    margin-top: 25px;
}